name: Build
on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize ]
  push:
    branches: [ main ]
  schedule:
    # Run a build once per week on the main branch.
    - cron: "0 0 * * 0"

jobs:
  codeql:
    name: Run CodeQL Analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: java

      - name: Build project
        run: >-
          ./mvnw
          -B
          -T8C
          -U
          --no-transfer-progress
          -Dmaven.test.skip=true
          -Dcheckstyle.skip=true
          -Dlicense.skip=true
          -DskipTests
          -Dstyle.color=always
          -Dmaven.artifact.threads=10
          clean package

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

  test:
    name: JDK ${{ matrix.java-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest' ]
        java-version: [ 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ]
        build-script: [ './mvnw' ]
        include:
          - os: windows-latest
            build-script: './mvnw.cmd'
            java-version: '11'
          - os: macos-latest
            build-script: './mvnw'
            java-version: '11'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # Needed to keep actions working correctly.
          fetch-depth: 2

      - name: Initialize JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '${{ matrix.java-version }}'

      - name: Compile and run tests
        run: >-
          ${{ matrix.build-script }} 
          -B 
          -T4C
          -U
          --no-transfer-progress
          '-Dcheckstyle.skip=true'
          '-Dlicense.skip=true'
          '-Dstyle.color=always'
          '-Dmaven.artifact.threads=10'
          clean package

      - name: Annotate test reports with build environment info
        if: always()
        run: >-
          scripts/prepare-test-outputs-for-merge.sh 
          ${{ matrix.java-version }} 
          ${{ matrix.os }}

      - name: Archive Surefire and Jacoco reports
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: reports-java-${{ matrix.java-version }}-${{ matrix.os }}
          path: |
            **/target/surefire-reports/*.xml
            **/target/surefire-reports/*.txt
            **/target/site/jacoco/jacoco*.xml
          retention-days: 5

  report-test-results:
    name: Report results
    needs: [ test ]
    runs-on: ubuntu-latest
    if: always()
    permissions:
      checks: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # Needed to keep actions working correctly.
          fetch-depth: 2

      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: 'artifacts/'

      - name: Publish to codecov
        continue-on-error: true
        if: always()
        run: |-
          curl --fail https://keybase.io/codecovsecurity/pgp_keys.asc | gpg --no-default-keyring --keyring trustedkeys.gpg --import
          curl --fail -Os https://uploader.codecov.io/latest/linux/codecov
          curl --fail -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM
          curl --fail -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM.sig
          gpgv codecov.SHA256SUM.sig codecov.SHA256SUM
          shasum -a 256 -c codecov.SHA256SUM
          chmod -v +x codecov
          ./codecov 

      - name: Publish unit test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        continue-on-error: true
        with:
          junit_files: "artifacts/**/TEST-*.xml"

  checkstyle:
    name: Code style and licenses
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '19'

      - name: Run checks
        run: >-
          ./mvnw 
          -B 
          -T4C
          -U
          --no-transfer-progress
          -DskipTests=true
          -Dstyle.color=always
          -Dmaven.artifact.threads=10
          -Dmaven.main.skip
          -Dmaven.jar.skip
          -Dmaven.resources.skip
          -Dmaven.test.skip
          verify

  javadoc:
    name: Code documentation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          # We have to use >= 15 for now, as assertj causes JDK 14 and older to prevent linking
          # documentation correctly. I have opened an issue on GitHub with AssertJ to discuss
          # this being generated correctly: https://github.com/assertj/assertj-core/issues/2573.
          java-version: '19'

      - name: Generate JavaDoc documentation
        run: >-
          ./mvnw 
          -B 
          -T4C
          -U
          --no-transfer-progress
          -Dmaven.test.skip=true
          -Dcheckstyle.skip=true
          -Dlicense.skip=true
          -Dstyle.color=always
          -Dmaven.artifact.threads=10
          clean compile javadoc:jar

      - name: Archive JavaDoc artifacts
        uses: actions/upload-artifact@v3
        continue-on-error: true
        if: success()
        with:
          name: javadocs
          path: "**/target/apidocs/io.github.ascopes.*"
          retention-days: 5

