name: Build
on:
  pull_request:
    branches:
      - '**'
    types:
      - opened
      - synchronize
  push:
    branches:
      - main
  workflow_call: {}
  workflow_dispatch: {}

jobs:
  build:
    name: Build on JDK ${{ matrix.java-version }} (${{ matrix.os-name }})
    runs-on: ${{ matrix.os-name }}

    strategy:
      fail-fast: false
      matrix:
        os-name: [ubuntu-latest]
        java-version:
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23-ea
        include:
          - os-name: macos-latest
            java-version: 22
          - os-name: windows-latest
            java-version: 22

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Initialize JDK
        uses: actions/setup-java@v4
        with:
          check-latest: true
          distribution: zulu
          java-version: ${{ matrix.java-version }}

      - name: Compile and run tests
        shell: bash
        run: ./mvnw -B -U -Dcheckstyle.skip=true -Dlicense.skip=true clean verify

      # TODO: work out why the v4 plugin does not work.
      - name: Upload to codecov
        uses: codecov/codecov-action@v4
        with:
          name: tests-java-${{ matrix.java-version }}-os-${{ matrix.os-name }}
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Stash reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: reports-${{ matrix.java-version }}-${{ matrix.os-name }}
          if-no-files-found: error
          path: |
            **/surefire-reports/**
            **/failsafe-reports/**
            **/build*.log
          retention-days: 30
