name: Security Analysis
on:
  push:
    branches:
      - main

jobs:
  submit-dependency-snapshot:
    name: Submit Dependency Snapshot
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.5.0
        with:
          fetch-depth: 1
          
      - name: Initialize Java environment
        uses: actions/setup-java@v3.11.0
        with:
          distribution: zulu
          java-version: 11
    
      - name: Submit Dependency Snapshot
        uses: advanced-security/maven-dependency-submission-action@v3
