name: Deploy a branch

on:
  workflow_dispatch:
    inputs:
      deploy-javadoc-to-gh-pages:
        description: "Deploy JavaDocs to GH Pages"
        default: true
        type: boolean

      deploy-artifacts-to-gh-packages:
        description: "Deploy artifacts to GH Packages"
        default: true
        type: boolean

jobs:
  build:
    name: Build and run analysis
    uses: ./.github/workflows/main.yml

  github:
    name: "Deploy to GitHub"
    needs: [codeql, build]
    runs-on: ubuntu-22.04

    permissions:
      contents: read
      packages: write
      pages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Initialize JDK
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          # Must use >= JDK 17 for Javadocs to generate correctly.
          java-version: 17

      - name: Build artifacts and deploy to GitHub packages
        run: >-
          ./mvnw
          -B
          -T4C
          -Dmaven.deploy.skip=${{ ! inputs.deploy-artifacts-to-gh-packages }}
          -Dmaven.source.includePom=true
          -Dmaven.test.skip=true
          -Dmaven.wagon.httpconnectionManager.ttlSeconds=120
          -Dstyle.color=always
          --also-make
          --no-transfer-progress
          --projects java-compiler-testing
          clean install javadoc:jar source:jar deploy
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload JavaDocs as a build artifact
        if: ${{ inputs.deploy-javadoc-to-gh-pages }}
        uses: actions/upload-pages-artifact@v1
        with:
          path: java-compiler-testing/target/apidocs

      - name: Deploy JavaDocs build artifact to GitHub Pages
        if: ${{ inputs.deploy-javadoc-to-gh-pages }}
        id: deployment
        uses: actions/deploy-pages@v1
